h1 {
  text-align: center;
}
h2 {
  margin: 0 0 10px;
  font-size: 22px;
}
body {
  background-color: #ebe8fc;
  font-family: sans-serif;
}

footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}
.container {
  width: 500px;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  display: block;
  margin: 30px auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed grey;
  padding: 10px;
}

.city:last-child {
  border: none;
}
.time {
  font-size: 33px;
  font-weight: bold;
}
.time small {
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
}
.date {
  opacity: 0.7;
  font-size: 14px;
}
a {
  color: blueviolet;
}
